---

---

<div class="flex justify-between">
  <div class="flex">© 2035 by Abdul Kalam</div>
  <div class="flex gap-4">
    <div class="flex flex-col gap-2 items-center">
      <h1>Call</h1>
      <p>123-456-7890</p>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <h1>Write</h1>
      <p>info@mysite.com</p>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <h1>follow</h1>
      <a href="#"
        ><img
          src="https://cdn-icons-png.flaticon.com/512/59/59439.png"
          class="w-4"
        /></a
      >
    </div>
  </div>
</div>
